[project]
	description = Reflow automatically creates pull requests, ensures the code review is approved, and squash merges finished branches to master with a great commit message template.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hkavya1215
[access "refs/for/refs/*"]
	read = group user/Hkavya1215
	push = group user/Hkavya1215
	label-Code-Review = -2..+2 group user/Hkavya1215
	label-Verified = -1..+1 group user/Hkavya1215
	rebase = group user/Hkavya1215
	removeReviewer = group user/Hkavya1215
	submit = group user/Hkavya1215
[access "refs/heads/*"]
	read = group user/Hkavya1215
	create = group user/Hkavya1215
	push = +force group user/Hkavya1215
	pushMerge = group user/Hkavya1215
[access "refs/tags/*"]
	push = +force group user/Hkavya1215
	pushTag = group user/Hkavya1215
	pushSignedTag = group user/Hkavya1215
